@font-face {
  font-family: "Terminal";
  src: url("fonts/SupernormaleEigSta W00 Bold.ttf") format("truetype");
}

/* Configuração base */
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  image-rendering: pixelated;
  cursor: none;
  user-select: none;
}

/* Cursor personalizado */
#cursor {
  position: absolute;
  transform: scale(1.25);
  pointer-events: none;
  transition: transform 0.05s linear;
}

/* Caixa de diálogo */
#dialogueBox {
  z-index: 1;
  border: 8px solid #ff0086;
  padding: 10px;
  height: 100px;
  color: #ff0086;
  font-family: "Terminal", monospace;
  font-size: 18px;
  text-align: center;
  display: block;
  margin: 6px auto 0;
  width: 318px;
}

/* Overlay CRT */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  background-image: url(stuff/CRTno.gif);
  background-repeat: repeat;
  filter: brightness(0);
  opacity: 0.5;
}

/* Imagem de perfil */
#profilePic {
  z-index: 1;
  border: 8px solid #ff0086;
  display: block;
  width: 318px;
  margin: 40px auto 0;
}

/* Campo de input */
input {
  background: black;
  color: #ff0086;
  border: 4px solid #ff0086;
  font-size: 24px;
  text-align: center;
  width: 120px;
  display: block;
  margin: 20px auto;
  opacity: 0;
  transition: opacity 0.5s ease;
}

input.show {
  opacity: 1;
}

/* Responsividade */
@media only screen and (max-width: 768px) {
  #cursor {
    visibility: hidden;
  }

  #profilePic {
    margin-top: 10px;
  }
}

/* === ALERTA VERMELHO === */
body.alerta {
  background-color: black;
  animation: piscarFundo 0.3s infinite alternate;
}

body.alerta #dialogueBox {
  border-color: rgb(182, 0, 0);
  color: rgb(182, 0, 0);
}

body.alerta #profilePic {
  border-color: rgb(182, 0, 0);
  filter: brightness(1.3) saturate(2) hue-rotate(-10deg);
}

body.alerta #overlay {
  opacity: 0.8;
}

/* Efeito de piscar vermelho rápido */
@keyframes piscarFundo {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(1.5) saturate(3) hue-rotate(-15deg);
  }
}
.emoji {
  font-size: 1em;
  display: inline-block;
  filter: invert(14%) sepia(94%) saturate(6000%) hue-rotate(315deg)
    brightness(102%) contrast(105%);
}
